<script type="text/javascript">

    function addOption() {

        var index = $(".option").length;
        var shortcut = $(".option").length + 1;

        $("#addOption").before( '<span>(' + shortcut + ') ' +
                                '<input type="text" class="option" name="Options[' + index + '].Answer" style="width:90%;" />' +
                                '<input type="hidden" name="Options[' + index + '].Shortcut" value="' + shortcut + '" />' +
                                '</span></br>');

        if (index >= 4) {
            $("#addOption").attr('disabled', 'disabled');
            $("#enough").toggle();
        }
    }

    $(function () {

        addOption(); addOption();

        jQuery.validator.addMethod("phoneUS", function(phone_number, element) {
                phone_number = phone_number.replace(/\s+/g, ""); 
                return this.optional(element) || phone_number.length > 9 && phone_number.match(/^(1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
            }, 
            "Please specify a valid phone number");

        $("#Poll").validate({
            submitHandler: function (form) {
                form.submit();
            }
        });

        $("#addOption").click(function () {
            addOption();
        });

        $("#phoneNumber").wijcombobox({
            minLength: 3,
            showTrigger: false,
            data: new wijdatasource({
                proxy: new wijhttpproxy({
                    url: 'Numbers/Index',
                    data: {},
                    dataType: 'json',
                    type: 'POST'
                }),
                reader: new wijarrayreader([{
                    name: 'label',
                    mapping: 'FriendlyName'
                },
                    {
                        name: 'value',
                        mapping: 'PhoneNumber'
                    }
                ]),
                loaded: function (e, data) {
                    //enable the combo, the button and stop the spinner
                    //$("#phoneNumber").wijcombobox("option", "disabled", false);
                    //$("#btncreate").removeAttr('disabled');
                    $("#waitCursor").toggle();

                    //$("#loadingNumbers").toggle();
                     //alert('loaded');
                },
                loading: function (e, data) {
                    //disable the combo and button and start the spinner
                    //$("#phoneNumber").attr('disabled', 'disabled');
                    //$("#phoneNumber").wijcombobox("disable");
                    //$("#btncreate").attr('disabled', 'disabled');
                    $("#waitCursor").toggle();
                    //$("#loadingNumbers")
                }
            }),
            search: function (e, data) {
                data.datasrc.proxy.options.data.query = data.term.value;
            }
        });
    });
</script>
    <div class="container" style="width:450px">

        <header class="jumbotron masthead">
            <div class="inner">
                <h1>tally.vu</h1>
                <p>text polls made easy</p>
            </div>
        </header>    

        <form action="/" name="Poll" id="Poll" method="post" style="padding: 10px;">

            <fieldset class="control-group-error">
                <div class="control-group">
                    <label class="control-label" for="Question" style="font-weight: bold">whats your question?</label>                        
                    <div class="controls"><input type="text" name="Title" class="required" style="width:100%;" /></div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="" style="font-weight: bold">tell us your answers:</label>
                    <div class="controls" id="options" style="text-align:right;">
                        <span><button tabindex="-1" type="button" id="addOption">add another</button><span id="enough" style="display:none;">Thats probably enough for now</span></span>
                    </div>                        
                </div>

                <div class="control-group">
                    <label class="control-label" for="" style="font-weight: bold">find a phone number:</label>
                    <div class="controls">
                        <span style="float: right; width:200px;display:none" id="waitCursor"><img src="@Url.Content("~/Content/images/wait16.gif")" alt="Your-Caption" /></span><input id="phoneNumber" name="PhoneNumber" class="required phoneUS" />
                        <p class="help-block" style="font-size: 9.5px">(enter an area code to find a number)</p>
                    </div>
                                
                </div>
                        
                <div class="form-actions" style="text-align: center" >                                
                    <input class="btn" type="submit" id="btncreate" value="create your poll" />
                </div>                            
            </fieldset>
                        
        </form>
    </div>