<script type="text/javascript">

    function addOption() {

        var index = $(".option").length;
        var shortcut = $(".option").length + 1;

        $("#addOption").before( '(' + shortcut + ') ' +
                                '<input type="text" class="option" name="Options[' + index + '].Answer" />' +
                                '<input type="hidden" name="Options[' + index + '].Shortcut" value="' + shortcut + '" />' +
                                '</br>');

        if (index >= 4) {
            $("#addOption").attr('disabled', 'disabled');
            $("#enough").toggle();
        }
    }

    $(function () {

        addOption();addOption();

        $("#Poll").validate({
            submitHandler: function (form) {
                form.submit();
            }
        });

        $("#addOption").click(function () {
            addOption();
        });

        $("#phoneNumber").wijcombobox({
            minLength: 3,
            showTrigger: false,
            data: new wijdatasource({
                proxy: new wijhttpproxy({
                    url: 'Numbers/Index',
                    data: {},
                    dataType: 'json',
                    type: 'POST'
                }),
                reader: new wijarrayreader([{
                    name: 'label',
                    mapping: 'FriendlyName'
                },
                    {
                        name: 'value',
                        mapping: 'PhoneNumber'
                    }
                ])
            }),
            search: function (e, data) {
                data.datasrc.proxy.options.data.query = data.term.value;
            }
        });
    });
</script>
        
    <h1>Polling Made Easy</h1>
                    
    <form class="form-horizontal" action="/" name="Poll" id="Poll" method="post">

        <fieldset class="control-group-error">
            <div class="control-group">
                <label class="control-label" for="Question">Question</label>                        
                <div class="controls"><input type="text" name="Title" class="required" /></div>
            </div>

            <div class="control-group">
                <label class="control-label" for="">Answers (max 5)</label>
                <div class="controls" id="options">
                    <span><button type="button" id="addOption">Add</button><span id="enough" style="display:none">Thats probably enough for now</span></span>
                </div>                        
            </div>

            <div class="control-group">
                <label class="control-label" for="">Phone</label>
                <div class="controls">
                    <input id="phoneNumber" name="PhoneNumber"  class="required" />
                    <p class="help-block">Select a phone number to use for your poll</p>
                </div>
                                
            </div>
                        
            <div class="form-actions">                                
                <input class="btn" type="submit" value="Submit" />
            </div>                            
        </fieldset>
                        
    </form>
